.App {
  text-align: center;
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-left {
  flex: 1;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.App-left-top {
  flex: 1;
}

.App-left-bottom {
  flex: 1;
}

.App-right {
  flex: 1
}
